@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

/* MENU LATERAL */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0 18px 18px 0;
    position: relative;
    transition: all 0.5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.side-item.active {
    background-color: #2596be;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    color: #ffffff;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

/* Expandir menu */
#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #2596be;
    color: #e3e9f7;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    transition: width 0.6s;
    height: 0;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 100px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/* FORMULÁRIO */
.formulario {
    margin-top: 20px;
    height: 500px;
    width: 400px;
    background-color: rgb(219, 219, 219);
    text-align: center;
    margin-left: 40%;
    position: fixed;
    border-radius: 5%;
}

h1 {
    margin: 30px;
}

.submitAprovar:hover {
    transition: 0.2s;
    background-color: #0f8000;
    text-decoration: white;
}

.submitRecusar:hover {
    transition: 0.2s;
    background-color: #ec0c0c;
    text-decoration: white;
}

.submit2:hover {
    transition: 0.2s;
    background-color: #2596be;
}

/* Alinhamento formulário */
.acao {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

/* IMG PERFIL */
#perfil img {
    margin-left: 300px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

/* PERFIL USUÁRIO */
#perfil_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bcbcbc;
    height: auto;
    border-radius: 18px 0 0 18px;
    position: absolute;
    transition: all 0.5s;
    min-width: 82px;
    z-index: 2;
}

/* POSIÇÃO PERFIL */
.perfil-side {
    margin-top: 30px;
    margin-left: 1085px;
    width: 80px;
    height: 30%;
    position: fixed;
}







/* Novo formulario (atual) */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.admContainer {
    max-width: 800px;
    height: 500px;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    margin-bottom: 3px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}









table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 1px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
}

th {
    background-color: #f2f2f2;
}

h5 {
    text-align: center;
}

.requestsTableBody {
    background-color: #0a0a0a;
}









/*Dialog*/
dialog {
    padding: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 400px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

#closeModal {
    margin-top: 60px;
    background-color: #dc3545;
}

#closeModal:hover {
    background-color: #c82333;
}

#openSolicitacoes:hover {
    margin-top: 60px;
    background-color: #5c80a1;
}

#openRelatorioDeHoras:hover {
    margin-top: 60px;
    background-color: #5c80a1;
}





/*Botões*/
button {
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.recusar:hover{
   
    transition: 0.2s;
    background-color: #ff0202;
    text-decoration: white;
} 
.ajuste:hover{
 
    transition: 0.2s;
    background-color: #ffae00;
    text-decoration: white;
} 



.confirmar:hover {
    transition: 0.2s;
    background-color: #0f8000;
    text-decoration: white;
}

.resetPassword{
    padding: 15px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


#trocarSenha{
    width: 200px;
    height: 30px;
    text-align: center;


}



.container p{

    text-align: center;
}

main{
    align-items: center;
    margin-left: 100px;
    background-color: #ddd;

}


